{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" width=350px>
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a UT Austin student majoring in Biology and Spanish graduating in the fall of 2019. My academic goals consist of attending medical school, where I aspire to become a doctor and be helpful to my community.</h3>
        <h3>I love all things involving sports (especially soccer) and spending time with my family. Apart from achieving my academic goals, my happiness and aspirations consist of travelling the world with a family of my own.</h3>
        <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3>For more, check out my academic &amp; professional <a href="resume2019.pdf">resume</a>.</h3>
        <h3>Contact me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
